@import '../../variables';
@import '../../placeholders';

$scheduleItemMarginTop: 24px;
$scheduleItemMarginLeft: 45px;

.schedule {
  @extend %container;
  background-color: $white;
  display: flex;
  flex-direction: column;
}
.schedule-title {
  font-size: 1.6rem;
  color: $color-blue;
}
.details {
  background-color: inherit;
  border: none;
  color: $link;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.005em;
  text-align: left;
  padding: 0;
}
.schedule-btn {
  background-color: $buttonSecondary;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img {
    width: 12px;
    height: 20px;
  }
}
.schedule-header {
  color: $color-gray;
  text-transform: uppercase;
  margin-top: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  @media (max-width: 430px) {
    display: none;
  }
  .schedule-time,
  .schedule-event {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: left;
  }
}
.schedule-item {
  display: flex;
  @media (max-width: 430px) {
    flex-direction: column;
    margin-top: 16px;
    border-bottom: 1px solid $border-gray;
    .schedule-time {
      font-size: 18px;
      font-weight: 700;
      line-height: 22.5px;
      border: none;
    }
    .schedule-card {
      margin-top: 8px;
      margin-left: 0;
      margin-bottom: 24px;
    }
    .schedule-time-content {
      margin-top: 0;
    }
  }
}
.schedule-time {
  vertical-align: top;
  padding: 8px 20px 0 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 32.5px;
  text-align: left;
  color: $color-gray;
  width: 115px;
  border-right: 1px solid $border-gray;
}
.schedule-time-content {
  margin-top: $scheduleItemMarginTop;
}
.schedule-event {
  flex-grow: 1;
  margin-left: $scheduleItemMarginTop;
}
.schedule-card {
  display: grid;
  grid-template-rows: repeat(3, 16px) 1fr;
  grid-template-columns: 88px 1fr 1fr;
  gap: 8px;
  flex-grow: 1;
  padding: 16px;
  border-radius: 4px;
  margin-top: $scheduleItemMarginTop;
  margin-left: $scheduleItemMarginTop;
  &.bg-lightblue {
    gap: 0;
    grid-template-rows: repeat(3, 24px);
    @media (max-width: 430px) {
      gap: 0;
      .title {
        grid-column: 2 / -1;
      }
      .schedule-card-image {
        grid-row: 1;
      }
      .subtitle {
        grid-row: 2;
      }
    }
  }
  @media (max-width: 430px) {
    grid-template-rows: repeat(2, 36px) 1fr 1fr;
    .title {
      align-self: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0.005em;
      text-align: left;
      grid-column: 1 / -1;
      grid-row: 1;
    }
    .schedule-card-image {
      grid-column: 1;
      grid-row: 2 / span 2;
    }
    .name {
      align-self: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0.005em;
      text-align: left;
      grid-column: 2/3;
      grid-row: 2;
    }
    .company {
      font-size: 14px;
      font-weight: 400;
      line-height: 15.75px;
      letter-spacing: 0.005em;
      text-align: left;
    }
    .details {
      font-family: BancoDoBrasil Textos;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.005em;
      text-align: left;
      grid-column: 1 / -1;
      grid-row: 4;
    }
  }
}
.schedule-card-image {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 8px;
  grid-column: 1;
  grid-row: 1/5;
}
.schedule-card-content {
  margin-left: 15px;
}

.title,
.name {
  color: $black;
  align-self: flex-end;
}
.title {
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 700;
  grid-row: 1;
}
.name {
  font-size: 16px;
  font-weight: 500;
  grid-row: 2;
}
.subtitle, .company {
  color: $dark-gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.75px;
  letter-spacing: 0.005em;
  text-align: left;
}
.subtitle {
  grid-row: 2;
}
.company {
  grid-row: 3;
}
.details {
  grid-row: 4;
}
.title,
.name,
.subtitle,
.company,
.details {
  grid-column: 2/-1;
}
