.sections-collapsible {
}

.collapsible-section.open .collapsible-content {
  max-height: 2000px; 
  opacity: 1;
}
.collapsible-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.collapsible-section.open .collapsible-content {
  max-height: 2000px; 
  opacity: 1;
}

.collapsible-title {
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E0EAFF;
  border: 1px solid #B4B9C1;
  width: 100%;
  cursor: pointer;
  font-size: 1.15rem;
  font-weight: 600;
  padding: 32px 32px;
  text-align: start;
  transition: background-color 0.2s;
}

.collapsible-title:hover,
.collapsible-title:active {
  background-color: #C7D6F7;
}

.collapsible-caret {
  display: inline-block;
  text-align: center;
  transition: transform 0.35s;
}
.collapsible-section.open .collapsible-caret {
  transform: rotate(180deg);
  color: #0074d9;
}
