@import '../../variables';
@import '../../placeholders';

.footer {
  background-color: $backgroundDark;
  height: 355px;
  position: relative;
  background-image: url('/footer-watermark.png');
  background-repeat: repeat-x;
  background-position: bottom;

  .overlay {
    height: 355px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 60%,
      #3333bd 100%
    );
  }
}

.footer-container {
  @extend %container;
  display: flex;
  align-items: flex-start;
  color: $white;
  position: relative;
  z-index: 2;
  justify-content: space-between;

  @include respond-to(md) {
    justify-content: flex-start;
    .footer-column {
      width: 50%;
    }
  }
  @include respond-to(lg) {
    .footer-logo {
      width: 394px;
      height: 59px;
    }
    .realization-support {
      font-size: 26px;
      line-height: 32.5px;
    }
    .bb-logo, .cafe-com-ux-logo {
      width: auto;
      height: auto;
    }
  }
}

.footer-column {
  display: flex;
  width: auto;
  flex-direction: column;
}

.footer-logo {
  width: 191px;
  height: 28.76px;
}

.footer-icons {
  img {
    padding: 20px 20px 20px 0;
  }
}
.footer-date {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.realization-support {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.5px;
}
.bb-logo {
  width: 32px;
  height: 32px;
}
.cafe-com-ux-logo {
  width: 34px;
  height: 35px;
}
