@import '../../scss/variables';
@import '../../scss/placeholders';
@import '../../scss/mixins';

.frequently-asked {
  @extend %container;
  padding-top: $containerPadding * 2;
  padding-bottom: $containerPadding * 5;
  position: relative;
  overflow: hidden;
  display: none;
  &.open {
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
    align-items: flex-end;
  }
  h2 {
    font-size: 1.8rem;
    padding: 5px 15px;
  }
  img {
    display: none;
  }
  .watermark {
    position: absolute;
    right: - calc($containerPadding/4);
    top: 179px;
    z-index: -1;
    display: none;
  }
  @include respond-to(lg) {
    display: block;
    h2 {
      color: $color-blue;
    }
    img {
      display: block;
    }
    .accordion-container {
      width: 48.5%;
    }
    .watermark {
      display: block;
    }
  }
}

.frequently-asked-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.accordion-container {
  width: 100%;
}
