@import '../../../variables';
@import '../../../placeholders';

.details-modal {
  // display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  // right: 0;
  z-index: 99;
  background-color: white;
  transition: right 0.5s ease-in-out;
  overflow-y: auto;
  &.open {
    right: 0;
  }
}

.details-container {
  @extend %container;
}
.close-btn {
  border: none;
  background-color: transparent;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}
.details-header {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid $border-gray;
}

.details-title {
  margin-right: 32px;
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  text-align: left;
}
.details-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
}
.details-about {
  font-size: 18px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
}
.details-image {
  width: 191px;
  margin: 16px 0;
  border-radius: 8px;
}
.details-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  text-align: left;
}
.details-company {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.75px;
  letter-spacing: 0.005em;
  text-align: left;
}
