@import '../../scss/variables';
@import '../../scss/placeholders';
@import '../../scss/mixins';

.footer-2025 {
  background-color: $backgroundDark;
  height: 355px;
  position: relative;
  background-image: url('/footer-watermark.png');
  background-repeat: repeat-x;
  background-position: bottom;
  max-width: 100%;

  .overlay {
    height: 355px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 60%,
      #3333bd 100%
    );
  }

  @include respond-to-max(galaxy-s20-fe) {
    height: auto;
  }

  .footer-container {
    @extend %container;
    color: $white;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 16px;

    @include respond-to(galaxy-s20-fe) {
      grid-column-gap: 32px;
    }
    @include respond-to(md) {
      justify-content: flex-start;
    }
    @include respond-to(lg) {
    }
    @include respond-to(xl) {
      .footer-logo {
        // width: 394px;
        // height: 59px;
      }
      .footer-title {
        font-size: 26px;
        line-height: 32.5px;
      }
      .cafe-com-ux-logo {
        width: 53px;
        height: auto;
      }
      .acc-digital-logo {
        width: 53px;
        height: auto;
      }

      .coeux-logo {
        width: 60px;
      }

      .logo-wide {
        width: 80px;
      }
    }
    @include respond-to(xxl) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    @include respond-to(desktop) {
    }
  }

  .footer-column {
    display: flex;
    width: auto;
    flex-direction: column;
    &.grid1 {
      grid-column: 1;
      grid-row: 1;
    }
    &.grid2 {
      grid-column: 1;
      grid-row: 2;
    }
  }

  .footer-logo-2025 {
    width: 191px;
    // height: 28.76px;
  }

  .footer-icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }
  .cafe-com-ux-logo {
    max-height: 28px;
  }
  .acc-digital-logo {
    max-height: 24px;
  }
  .footer-date {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
  }

  .footer-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 17.5px;
  }
  .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    a {
      color: $yellow;
      svg {
        width: 24px;
        height: 24px;
        padding: 8px 8px 8px 0;
      }
    }
    @include respond-to(xl) {
      .social-text {
        font-size: 18px;
      }
      a {
        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
    @include respond-to(md) {
      flex-direction: row;
    }
  }

  .social-icons-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 16px;
    @include respond-to(xl) {
      margin-right: 64px;
    }
  }

  .social-text {
    font-size: 13px;
    font-weight: 500;
  }

  .logo-square {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: auto;
      max-height: 50px;
    }
    .logo-bb {
      max-height: 32px;
    }
  }
  .generic-logo {
    width: 53px;
    height: auto;
  }
  .logo-wide {
    width: 60px;
    height: auto;
    max-width: 100%;
    display: block;
  }
  .logo-bbts-shape,
  .logo-goulart-shape,
  .logo-previ-shape,
  .logo-tb-shape {
    fill: currentColor;
    fill-rule: evenodd;
  }
  .logo-previ-shape-2 {
    fill: white;
    fill-rule: evenodd;
  }
}
