@import '../../../scss/variables';
@import '../../../scss/mixins';

.experience-card-image {
  width: 72px;
  height: 72px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
  }
}

.experience-card-icon {
  width: 72px;
  height: 72px;

  background: $blue;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 52px;
  }

  img {
    width: 52px;
    height: 52px;
  }
  .d-braile {
    img {
      width: 36px;
    }
  }
  .food {
    img {
      width: 42px;
    }
  }
}
.experience-card-image, .experience-card-icon {
  .blank-profile {
    width: 100%;
    height: 100%;
  border-radius: 8px;

  }
}
