@import '../../../scss/variables';
@import '../../../scss/mixins';

.schedule-card-image {
  width: 72px;
  height: 72px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
  }
}

.schedule-card-icon {
  width: 72px;
  height: 72px;

  background: $blue;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 52px;
  }

  img {
    width: 52px;
    height: 52px;
  }
  .d-braile {
    img {
      width: 36px;
    }
  }
  .food {
    img {
      width: 42px;
    }
  }
}
.schedule-card-image, .schedule-card-icon {
  .blank-profile {
    width: 100%;
    height: 100%;
  border-radius: 8px;

  }
}

.speakers-multi-row {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.speakers-row {
  display: flex;
  gap: 0;
}
.speakers-row img {
  margin: 0;
  border-radius: 0;
  height: 100%;
  object-fit: cover;
}

.speakers-row:first-child img:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.speakers-row:first-child img:last-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.speakers-row:last-child img:first-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.speakers-row:last-child img:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.speakers-row img {
  width: 36px;
  height: 36px;
  width: auto;
  object-fit: cover !important;
  display: block;
}
