@import '../../../scss/variables';
@import '../../../scss/placeholders';
@import '../../../scss/mixins';

$scheduleItemMarginTop: 24px;
$scheduleItemMarginLeft: 45px;

.schedule-item {
  margin-top: 16px;
  border-bottom: 1px solid $border-gray;

  @include respond-to(lg) {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    border-bottom: none;
    .schedule-time {
      font-size: 26px;
      line-height: 32.5px;
      border-right: 1px solid $border-gray;
    }
    .schedule-card {
      margin-top: $scheduleItemMarginTop;
      margin-left: $scheduleItemMarginTop;
      margin-bottom: 0;
    }
    .schedule-time-content {
      margin-top: $scheduleItemMarginTop;
    }
  }
}
.schedule-time {
  vertical-align: top;
  padding: 8px 20px 0 0;
  font-size: 18px;
  line-height: 22.5px;
  border: none;

  font-weight: 700;
  text-align: left;
  color: $color-gray;
  width: 115px;
}
.schedule-event {
  flex-grow: 1;
  margin-left: $scheduleItemMarginTop;
}
.schedule-card {
  display: grid;
  grid-template-rows: auto repeat(2, 36px) auto;
  grid-template-columns: 88px 1fr 1fr;
  gap: 8px;
  flex-grow: 1;
  padding: 16px;
  border-radius: 4px;
  margin-top: 8px;
  margin-left: 0;
  margin-bottom: 24px;
  &.bg-lightblue {
    gap: 0;
    grid-template-rows: repeat(3, 24px);
    .title {
      grid-column: 2 / -1;
    }
    .schedule-card-image {
      grid-row: 1;
    }
    .subtitle {
      grid-row: 2;
      grid-column: 2 / -1;
    }
  }
  @include respond-to(xl) {
    grid-template-rows: repeat(3, 16px) 1fr;
    .title {
      line-height: 22.5px;
      font-weight: 700;
      grid-row: 1;
      align-self: auto;
      letter-spacing: normal;
      text-align: initial;
    }
    .schedule-card-image {
      grid-column: 1;
      grid-row: 1/5;
    }
    .name {
      font-weight: 500;
      grid-row: 2;
    }
    .title,
    .name,
    .subtitle,
    .company,
    .details {
      grid-column: 2/-1;
    }
  }
  @include respond-to(xxl) {
    .title {
      font-size: 18px;
    }
  }
}

.schedule-card-content {
  margin-left: 15px;
}

.title,
.name {
  color: $black;
  align-self: flex-end;
  grid-row: 2;
}

.title {
  align-self: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.005em;
  text-align: left;
  grid-column: 1 / -1;
  grid-row: 1;
}

.name {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.005em;
  text-align: left;
}

.schedule-card-image {
  grid-column: 1;
  grid-row: 2 / span 2;
}
.name,
.company {
  grid-column: 2/4;
}
.subtitle,
.company {
  color: $dark-gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.75px;
  letter-spacing: 0.005em;
  text-align: left;
}
.subtitle {
  grid-column: 2/3;
}
.company {
  grid-row: 3;
}
.details {
  cursor: pointer;
  grid-column: 1 / -1;
  grid-row: 4;
}

.schedule-details-header {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid $border-gray;
}

.schedule-details-title {
  margin-right: 32px;
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  text-align: left;
}

.schedule-details-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
}

.schedule-details-footer {
  margin-top: 10px;
}

.schedule-details-body {
  padding-bottom: $containerPadding;
  border-bottom: 1px solid $border-gray;
  margin-bottom: $containerPadding;
  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.schedule-details-image {
  width: 191px;
  margin: 16px 0;
  border-radius: 8px;
}

.schedule-details-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  text-align: left;
}

.schedule-details-company {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.75px;
  letter-spacing: 0.005em;
  text-align: left;
}
