@import '../../scss/variables';
@import '../../scss/placeholders';
@import '../../scss/mixins';

.dialog-backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  right: -100%;
  opacity: 1;
  visibility: visible;
  z-index: 85;
  transition: right 0.5s ease-in-out;
  margin-top: $headerHeightSmall;
  &.active {
    opacity: 1;
    visibility: visible;
    right: 0;
  }
  @include respond-to(lg) {
    right: auto;
    opacity: 0;
    visibility: hidden;
    transition: none;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 1000;
    margin-top: 0;
    &.active {
      .default_dialog {
        transform: translateY(0);
      }
    }
    .default_dialog {
      max-width: 800px;
      height: auto;
      border-radius: 10px;
    }
    .speaker-details-content {
      padding: 0;
    }
  }
}

.default_dialog {
  @extend %container;
  margin-top: $containerPaddingSmall;
  background: white;
  position: relative;
  overflow: auto;
  height: 100%;
  border-radius: 0;
  .close-modal-btn {
    right: $containerPaddingSmall;
  }
  @include respond-to(lg) {
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    .close-modal-btn {
      right: $containerPadding;
    }
  }
}
.close-modal-btn {
  border: none;
  background-color: transparent;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 89;
}
