@import '../../scss/variables';
@import '../../scss/placeholders';
@import '../../scss/mixins';

.schedule-2025 {
  @extend %container;
  background-color: $white;
  flex-direction: column;
  display: none;
  &.open {
    display: flex;
  }
  @include respond-to(lg) {
    display: flex;
  }
}
.schedule-title-2025 {
  font-size: 1.6rem;
  color: $color-blue;
}
.details-2025-2025 {
  background-color: inherit;
  border: none;
  color: $link;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.005em;
  text-align: left;
  padding: 0;
}
.schedule-btn-2025 {
  background-color: $buttonSecondary;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img {
    width: 12px;
    height: 20px;
  }
}
.schedule-header-2025 {
  color: $color-gray;
  text-transform: uppercase;
  margin-top: 36px;
  display: none;
  justify-content: flex-start;
  align-items: flex-end;
  @include respond-to(lg) {
    display: flex;
  }
  .schedule-time-2025,
  .schedule-event-2025 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: left;
  }
}

