@import '../../../scss/variables';
@import '../../../scss/mixins';

.speaker-card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 30px 30px 0;
  margin: 0 0 16px;
  @include respond-to(iphone-14) {
    min-width: 191px;
    max-width: 49%;
  }
  @include respond-to(md) {
    max-width: 32%;
  }
  @include respond-to(lg) {
    max-width: 232px;
    margin: 0 30px 30px 0;
  }
  .speaker-card-image {
    border-radius: 8px 8px 0 0;
    object-fit: cover;
  }
}
.speaker-card-body {
  background-color: white;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 0 0 8px 8px;
  border: 1px solid $border-gray;
  box-shadow: 0 0 1px 0 rgba(#19191c, 0.25), 0 1px 1px 0 rgba(#151518, 0.18);
  h3 {
    font-weight: 600;
    padding: 5px 0;
  }
  p {
    color: $gray;
  }
}
.speaker-btn {
  text-transform: uppercase;
  background-color: $buttonSecondary;
  border: none;
  padding: 9px 16px 9px 16px;
  margin-top: 16px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 13.5px;
  letter-spacing: 0.005em;
  text-align: center;
  color: $darkBlue;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: darken($buttonSecondary, 5);
  }
}

.speaker-details-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
}
.speaker-details-image {
  width: 191px;
  margin: 16px 0;
  border-radius: 8px;
}
.speaker-details-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  text-align: left;
}
.speaker-details-company {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.75px;
  letter-spacing: 0.005em;
  text-align: left;
}

.speaker-social-icons {
  padding-top: 16px;
  h4 {
    font-weight: bold;
  }
  a {
    color: $link;
  }
  .icon {
    width: 36px;
    padding: 10px 10px 10px 0;
  }
}
