@import '../../../scss/variables';
@import '../../../scss/placeholders';
@import '../../../scss/mixins';

.speaker-details-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  right: -100%;
  opacity: 1;
  visibility: visible;
  z-index: 85;
  transition: right 0.5s ease-in-out;
  margin-top: $headerHeightSmall;
  &.open {
    opacity: 1;
    visibility: visible;
    right: 0;
  }
  @include respond-to(lg) {
    right: auto;
    opacity: 0;
    visibility: hidden;
    transition: none;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 1000;
    margin-top: 0;
    &.open {
      .speaker-details-container {
        transform: translateY(0);
      }
    }
    .speaker-details-container {
      max-width: 800px;
      height: auto;
      border-radius: 10px;
    }
    .speaker-details-content {
      padding: 0;
    }
  }
}

.speaker-details-container {
  @extend %container;
  background: white;
  position: relative;
  overflow: auto;
  height: 100%;
  border-radius: 0;

  @include respond-to(lg) {
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
  }
}
.speaker-details-content {
  position: relative;
  padding: 16px 0;
  .speaker-details-close-btn {
    right: 0;
  }
}
.speaker-details-close-btn {
  border: none;
  background-color: transparent;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 89;
}
.speaker-details-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
}
.speaker-details-image {
  width: 191px;
  margin: 16px 0;
  border-radius: 8px;
}
.speaker-details-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  text-align: left;
}
.speaker-details-company {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.75px;
  letter-spacing: 0.005em;
  text-align: left;
}
