@import '../../scss/variables';
@import '../../scss/fonts';
@import '../../scss/mixins';

.link-nav {
  background-color: inherit;
  border: none;
  color: blue;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.015em;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: $containerPaddingSmall 0 0 $containerPaddingSmall;
  &:hover,
  &:active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .icon {
    width: 16px;
    height: 20px;
    margin-right: 10px;
  }

  @include respond-to(lg) {
    padding: $containerPadding 0 0 $containerPadding;
  }
}
