@import '../../scss/variables';
@import '../../scss/placeholders';

.sections {
  padding: $containerPaddingSmall 0 2 * $containerPaddingSmall 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  &.closed {
    display: none;
  }
  @include respond-to(lg) {
    display: none;
  }
}
.section-button {
  border: none;
  padding: 0;
  background: none;
  margin: $containerPaddingSmall 0 0 0;
  box-shadow: 0px 0px 1px 0px #19191c40, 0px 1px 1px 0px #1515182e;
  border-radius: 4px;
  cursor: pointer;
  width: calc((100% - 2 * #{$containerPaddingSmall}) / 2);
  max-width: 191px;
  min-width: 150px;

  &:nth-child(2n) {
    margin-right: 0;
  }
}
.section-card {
  h3 {
    color: $white;
    font-size: 16px;
    font-weight: 700;
  }
  p {
    font-size: 14px;
    padding: $containerPaddingSmall;
    text-align: initial;
  }
}
.section-card-cover {
  display: flex;
  align-items: flex-end;
  padding: $containerPaddingSmall;
  height: 125px;
  border-radius: 4px 4px 0 0;
  text-align: left;
  &.cover-schedule {
    background-color: #7ac3bc;
  }
  &.cover-speakers {
    background-color: #3333bd;
  }
  &.cover-frequently-asked {
    background-color: #705fa9;
  }
}
