$blue: #465EFF;
$darkBlue: #3333BD;
$yellow: #FCFC30;
$white: #FDFEFF;
$lightPink: #F3ACD1;
$pink: #EE7792;
$darkPink:#EA3E92;
$gray: #6C7077;
$dark-gray: #4E5155;
$border-gray: #E5E7EB;
$border-gray2: #B4B9C1;
$black: #001527;
$lightGray: #F0F2F4;
$lightBlue: #E1F7FE; 
$lightPink: #FAD1E5;
$lightGreen: #D1FAE1;
$lavender: #DFD9F2;
$peach: #FFE7CC;
$lightCyan: #CCFFF9;
$lavender: #DFD9F2;
$turquoise: #83FFEA;
$link: #2D37F5;

$buttonSecondary: #E0E9FF;

$background: $blue;
$backgroundDark: $darkBlue;
$backgroundYellow: $yellow;
$watch-background: $pink;
$color: $white;
$color-blue: $blue;
$color-gray: $gray;
$color-gray: $dark-gray;

$backgroundPurple: #705FA9;
$highlight: #FCFC30;
$highlightYellow: #F5EC39;

$overviewSectionHeight: 400px;
$containerPadding: 32px;
$containerPaddingSmall: 16px;
