@import 'variables';

.no-scroll {
  overflow-y: hidden;
}

.hightlight {
  color: $highlight;
}





.bg-lightgray { background-color: #F0F2F4; }
.bg-lightblue { background-color: #E1F7FE; }
.bg-lightcyan { background-color: #CCFFF9; }
.bg-lightpink { background-color: #FAD1E5; }
.bg-lightgreen { background-color: #D1FAE1; }
.bg-lavender { background-color: #DFD9F2; }
.bg-peach { background-color: #FFE7CC; }
