@import 'scss/variables';
@import 'scss/fonts';

.no-scroll {
  overflow-y: hidden;
}

.hightlight {
  color: $highlight;
}

.bg-lightgray { background-color: $lightGray; }
.bg-lightblue { background-color: $lightBlue; }
.bg-lightcyan { background-color: $lightCyan; }
.bg-lightpink { background-color: $lightPink; }
.bg-lightgreen { background-color: $lightGreen; }
.bg-lavender { background-color: $lavender; }
.bg-peach { background-color: $peach; }
.bg-blue { background-color: $background; }
.bg-yellow { background-color: $backgroundYellow; }

body {
  font-family: 'BancoDoBrasilTextos', sans-serif;
}
