/* reset.scss */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --blue: #465EFF;
  --darkBlue: #3333BD;
  --yellow: #FCFC30;
  --white: #FDFEFF;
  --lightPink: #F3ACD1;
  --pink: #EE7792;
  --darkPink: #EA3E92;
  --gray: #6C7077;
  --dark-gray: #4E5155;
  --border-gray: #E5E7EB;
  --border-gray2: #B4B9C1;
  --black: #001527;
  --lightGray: #F0F2F4;
  --lightBlue: #E1F7FE; 
  --lightPink: #FAD1E5;
  --lightGreen: #D1FAE1;
  --lavender: #DFD9F2;
  --peach: #FFE7CC;
  --lightCyan: #CCFFF9;
  --turquoise: #83FFEA;
  --link: #2D37F5;
  --buttonSecondary: #E0E9FF;
  --background: var(--blue);
  --backgroundDark: var(--darkBlue);
  --backgroundYellow: var(--yellow);
  --watch-background: var(--pink);
  --color: var(--white);
  --color-blue: var(--blue);
  --color-gray: var(--gray);
  --backgroundPurple: #705FA9;
  --highlight: #FCFC30;
  --highlightYellow: #F5EC39;
}


body {
  font-family: "Inter", sans-serif;
}
