$blue: #465EFF;
$darkBlue: #3333BD;
$yellow: #FCFC30;
$white: #FDFEFF;
$lightPink: #F3ACD1;
$pink: darken(#EE7792, 10);
$darkPink:#EA3E92;
$gray: #6C7077;
$dark-gray: #4E5155;
$border-gray: #E5E7EB;
$border-gray2: #B4B9C1;
$black: #111214; //#001527;
$lightGray: #F0F2F4;
$lightBlue: #E1F7FE; 
$lightPink: #FAD1E5;
$lightGreen: #D1FAE1;
$lavender: #DFD9F2;
$peach: #FFE7CC;
$lightCyan: #CCFFF9;
$lavender: #DFD9F2;
$turquoise: #83FFEA;
$link: #2D37F5;
$backgroundActive: #EBF2FF;

$buttonSecondary: #E0E9FF;

$background: $blue;
$backgroundDark: $darkBlue;
$backgroundYellow: $yellow;
$watch-background: $pink;
$color: $white;
$color-blue: $blue;
$color-gray: $gray;
$color-gray: $dark-gray;

$backgroundPurple: #705FA9;
$highlight: #FCFC30;
$highlightYellow: #F5EC39;

$containerPadding: 32px;
$containerPaddingSmall: 16px;
$headerHeightSmall: 60px;
$overviewSectionHeight: 400px;

$grid-breakpoints: (
  xs: 0, // Mobile (small phones)
  sm: 576px, // Mobile (larger phones)
  md: 768px, // Tablets
  lg: 992px, // Small Laptops
  xl: 1200px, // Large laptops and desktops
  xxl: 1400px, // Large desktops and high-resolution monitors
  galaxy-a10: 360px, // Galaxy A10
  galaxy-s20-fe: 412px, // Galaxy S20 FE
  iphone-x: 375px, // iPhone X
  iphone-14: 390px // 14 pro, 15, 15 pro e Redmi Note 7 = 393px
) !default;
