@import '../../scss/variables';
@import '../../scss/placeholders';

.divider-icons {
  @extend %container;
  display: none;
  .icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon {
    flex: 0 0 auto;
    padding: 0 18px;
  }
  .braile {
    width: 33px;
    height: 57px;
  }
  .bilateral-deafness {
    width: 49px;
    height: 55px;
  }
  .low-vision {
    width: 58px;
    height: 33px;
  }
  .sign-language {
    width: 65px;
    height: 51px;
  }
  @include respond-to(lg) {
    display: block;
  }
}
